.App {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
}

.emoji-displayer {
  font-size: 128px;
}

.bp3-tab-list > div:focus {
 outline: 0
}

.popover-tab {
  display: flex;
  flex-wrap: wrap;
  width: 352px;
  height: 352px;
  overflow-y: scroll;
}

.emoji {
  width: 32px;
  height: 32px;
  text-align: center;
  cursor: pointer;
}

.bp3-tabs {
  background: #7c7d80;
}